<h1>Atividade</h1>
<br/>
<p>
  <strong>Nome:</strong>
  <%= @activity.name %>
</p>
<p>
  <strong>Período:</strong>
  <%= @activity.period %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= raw @activity.description %>
</p>